     <form>
         <div class="label_wrapper">
            <div class="inputs_wrapper">
                <label><span>Song URL</span>
                    <input type="text" name="url" placeholder="http://...mp3" pattern="^https?:\/\/.*\.(?:mp3)$" required>
                </label>
                <label><span>Name</span>
                    <input type="text" name="name" required>
                </label>
            </div>
            <div class="inputs_wrapper">
                <label><span>Song URL</span>
                    <input type="text"  name="url" placeholder="http://...mp3" pattern="^https?:\/\/.*\.(?:mp3)$">
                </label>
                <label><span>Name</span>
                    <input type="text" name="name">
                </label>
            </div>
            <div class="inputs_wrapper">
                <label><span>Song URL</span>
                    <input type="text"  name="url" placeholder="http://...mp3" pattern="^https?:\/\/.*\.(?:mp3)$">
                </label>
                <label><span>Name</span>
                    <input type="text" name="name">
                </label>
            </div>    
            <div class="inputs_wrapper">             
                <label><span>Song URL</span>
                    <input type="text" name="url" placeholder="http://...mp3" pattern="^https?:\/\/.*\.(?:mp3)$">
                </label>
                <label><span>Name</span>
                    <input type="text" name="name">
                </label>
            </div>        
         </div>     
        <input type="submit" value="Finish & Save">
        <button id="AddSong" type="button"><span>&#x2b;</span><span>Add Another Song<span></button>
    </form>
