<div class="player_container">
    <div class="player">
        <div class="playlist_disc">
            <button class="disc_play_button">
                <span>=</span>
            </button>
        </div> 
        <div class="audio_and_songname">
            <audio controls>
                <source src="" type="audio/mpeg">
            </audio>
            <div class="song_name_display"><span></span></div>
        </div>    
    </div>
    <button class="playlist_delete_button">&#10006;</button>
    <button class="playlist_edit_button">&#x270e;</button>
</div>